.git
.local
.env
.env.*
**/.venv
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/pytest-cache-files-*
**/.ruff_cache
**/playwright-report
**/test-results
output
**/*.sqlite3
**/*.log
**/*.key
**/*.pem
**/*.crt
**/*.pfx
**/*.p12
